:root{
  --background_color: #131415;
  --background_color-transparent: #131415f2;
  --background_color-card: #252525;
  --color_naranja: #FFA400;
  --color_rojo: #FC2933;
  --color_letras: #FFFFFF;
  --color_gradiente: background-image: linear-gradient(
    to right,
    #fe9605,
    #ff7f11,
    #ff661e,
    #ff482b,
    #fc1e37
  );
  --category-background-image: linear-gradient( -45deg, #fe34d8 50%, #47caff 50% );
  --category-background-image-2: linear-gradient( -45deg, var(--color_naranja) 50%, var(--color_rojo) 50% );
  --category-image-filter: blur(72px);
}

body {
  background-color: var(--background_color);
  color: var(--color_letras);
}

/* ----------------------- */
/* -  UTILITY              */
/* ----------------------- */
.btn {
  border-radius: 16px;
  background-image: linear-gradient(
    to right,
    #fe9605,
    #ff7f11,
    #ff661e,
    #ff482b,
    #fc1e37
  );
  /* border-color: #ff9800; */
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

/* ----------------------- */
/* -  NAVBAR Stile         */
/* ----------------------- */
.navbar-container {
  background-color: var(--background_color-transparent);
}

.navbar-container ul {
  column-gap: 50px;
  row-gap: 15px;
}

.navbar-container ul li svg {
  fill: var(--color_naranja);
}

.navbar-container ul li a {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* ----------------------- */
/* -  HERO Stile           */
/* ----------------------- */
.hero__title {
  font-size: 4.4rem;
}
.hero__subtitle {
  font-size: 3.3rem;
}
.hero__paragraph {
  font-size: 1.5rem;
}
.hero__btn {
  border-radius: 16px;
  background-image: linear-gradient(
    to right,
    #fe9605,
    #ff7f11,
    #ff661e,
    #ff482b,
    #fc1e37
  );
  border-color: #ff9800;
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-container__img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  --bs-gutter-x: 0rem;
}

.hero-container__img {
  animation: pizzaAnimation 7s ease-in-out 0s infinite normal none;
}

@keyframes pizzaAnimation{
  0% {
      transform:  translate(0,0);
  }
  25% {
      transform:  translate(0,-20px) rotate(1deg);
  }
  50% {
      transform:  translate(0,-5px);
  }
  75% {
      transform:  translate(0,-15px) rotate(-1deg);
  }
  100% {
      transform:  translate(0,0);
  }
}


/* ----------------------- */
/* -  CARD RECOMENDACIONES */
/* ----------------------- */
.card-recomendacion-container {
  column-gap: 1px;
  margin-inline: auto;
}

.card-recomendacion {
  --bs-card-border-radius: 22px;
  min-width: 23.75rem;
  max-width: 24.375rem;

  background-color: var(--background_color-card);
  color: var(--color_letras);
  box-shadow:
  0.4px 0.1px 2.8px rgba(0, 0, 0, 0.078),
  1px 0.2px 7px rgba(0, 0, 0, 0.111),
  1.9px 0.4px 14.4px rgba(0, 0, 0, 0.139),
  4px 0.7px 29.6px rgba(0, 0, 0, 0.172),
  11px 2px 81px rgba(0, 0, 0, 0.25);
  
  /* display: flex; */
  justify-content: center;
}

.card-recomendacion .card-body {
  --bs-card-spacer-y: 0.5rem;
  --bs-card-spacer-x: 0.5rem;
  padding-left: 1rem;
}

.card-recomendacion__title {
  font-weight: 400;
  font-size: 1rem;;
}

.card-recomendacion__price {
  /* letter-spacing: .5px; */
  font-size: 1.1rem;
  display: inline-block;
  background: linear-gradient(90deg, var(--color_naranja) 0%, var(--color_rojo) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.card-recomendacion__img { 
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

/* ----------------------- */
/* -  CARD CATEGORY        */
/* ----------------------- */
.category-container {
  /* min-width: 300px;
  max-width: 315px; */
  /* margin-inline: auto; */
  /* display: flex; */
  justify-content: center;
}
.category-container img{
  height: 83px;
  width: 83px;
  object-fit: cover;
}
.card-category__container {
  width: 180px;
  height: 180px;
}
.card-category__body {
  display: flex;
  align-items: center;
  border-radius: 16px;;
  background-color: var(--background_color-card);
  color: var(--color_letras);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  box-shadow:
  0.4px 0.1px 2.8px rgba(0, 0, 0, 0.078),
  1px 0.2px 7px rgba(0, 0, 0, 0.111),
  1.9px 0.4px 14.4px rgba(0, 0, 0, 0.139),
  4px 0.7px 29.6px rgba(0, 0, 0, 0.172),
  11px 2px 81px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease
}

.card-category__body:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.food-category{
  position: relative;
}

.card-category__body hr {
  margin: 0;
  height: 4px;
  width: 24px;
  margin-top: 15px;
  /* border-radius: 15px; */
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  box-shadow: 0px 0px 50px rgb(1 2 7 / 50%);
  border-radius: 15px;
  border: none;
  margin-inline: auto;
}

.card-category__container .card-title {
  --bs-card-title-spacer-y: 0rem;
}

.card-container__body-price {
  font-size: 1.3rem;
  letter-spacing: .5px;
  background: linear-gradient(90deg, var(--color_naranja) 0%, var(--color_rojo) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

/***** Start: categoria activa *******/
.active__card-category {
  font-weight: bold;
}

.active__card-category::before {
  content: "";
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-image: var(--category-background-image);
  /* background-image: var(--category-background-image-2);; */
  filter: var(--category-image-filter);
  transform: translate(-5%,0%);
  z-index: -1;
}

.active__card-category-body {
  background: var(--color_naranja);
  color: #000;
}
/***** End: categoria activa *******/

/* ----------------------- */
/* -  CARD PRODUCT         */
/* ----------------------- */

.card-container {
  min-width: 20rem;
  max-width: 21.25rem;
  color: var(--color_letras)
}

.card-container__info {
  --bs-card-border-radius: 1.375rem;
  background-color: var(--background_color-card);
}

.card-container__img {
  border-radius: 38px;
  padding: 1rem;
  /* height: 17vh; */
  height: 10.313rem;
  object-fit: cover;
}

.card-container__btn {
  padding-inline: 20px;;
}

/* ----------------------- */
/* -  MEDIA QUERY          */
/* ----------------------- */
@media (max-width: 765px) {
  .card-recomendacion {
    min-width: 18.75rem;
    max-width: 19.688rem;
  }

  .card-recomendacion__img {
    width: 100%; 
    /* height: 25vh; */
    height: 11.563rem;
    object-fit: cover;
  }

  .card-recomendacion__title {
    font-size: 1.5rem;
  }

  .card-recomendacion__price {
    font-size: 1.3rem;
  }
  
  .card-container__info  h5 {
    font-size: 1.5rem;
  }

  .card-container__img {
    /* height: 24vh; */
    height: 11.063rem;
  }
}
